<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">

<body>
  <%- include('../includes/navigation.ejs') %>
  <% if(messages.length > 0) { %>
  <div class="user-message user-message--error">
    <%= messages %>
  </div>
  <% } %>
  <main>
    <form class="login-form" action="/new-password" method="POST">
      <div class="form-control">
        <label for="newPassword">Password</label>
        <input type="password" name="newPassword" id="password">
      </div>
      <div class="form-control">
        <label for="email">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="userID" value="<%= userID %>">
      <input type="hidden" name="resetToken" value="<%= resetToken %>">
      <button class="btn" type="submit">Submit</button>
    </form>
  </main>
</body>